@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Poppins";
  background-color: rgb(2, 0, 3);
  color: #fff;
}

.page {
  padding-top: 200px;
}
.page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.page__button {
  padding: 30px 65px;
  font-size: 20px;
  color: #fff;
  border-radius: 8px;
}

.button-1 {
  position: relative;
  background: transparent;
  overflow: hidden;
  z-index: 1;
}
.button-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#0741d4), to(#10a8b3));
  background: linear-gradient(90deg, #0741d4, #10a8b3);
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
  z-index: -1;
}
.button-1:hover::before {
  left: 0;
}

.button-2 {
  background: #00d9ff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.button-2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(5, 61, 183, 0.5);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease;
  transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}
.button-2:hover::before {
  width: 200%;
  height: 200%;
  opacity: 1;
}

.button-3 {
  background: #036fda;
  position: relative;
  overflow: hidden;
}
.button-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(235, 226, 226, 0.2);
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.button-3:hover::before {
  left: 100%;
}