@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Prosto+One:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap");
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  background-color: rgb(2, 0, 3);
  color: #fff;
}

.page {
  padding-top: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  text-transform: capitalize;
  padding: 25px 60px;
  background: #000;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #fffb01, 0 0 15px #fffb01, 0 0 20px #fffb01;
          box-shadow: 0 0 5px #fffb01, 0 0 15px #fffb01, 0 0 20px #fffb01;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.button:hover {
  -webkit-box-shadow: 0 0 10px #fffb01, 0 0 30px #fffb01, 0 0 50px #fffb01;
          box-shadow: 0 0 10px #fffb01, 0 0 30px #fffb01, 0 0 50px #fffb01;
}