@use "sass:math";

@import "_fonts.scss";

@import "_reset.scss";

body {
	font-family: "Poppins";
	background-color: rgb(2, 0, 3);
	color: #fff;
}

.page {
	padding-top: 200px;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}
	&__button {
		padding: 30px 65px;
		font-size: 20px;
		color: #fff;
		border-radius: 8px;
	}
}

.button-1 {
	position: relative;
	background: transparent;
	overflow: hidden;
	z-index: 1;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: -100%;
		width: 200%;
		height: 100%;
		background: linear-gradient(90deg, #0741d4, #10a8b3);
		transition: left 0.5s ease;
		z-index: -1;
	}
	&:hover::before {
		left: 0;
	}
}

.button-2 {
	background: #00d9ff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 0;
		height: 0;
		background: rgba(5, 61, 183, 0.5);
		border-radius: 50%;
		transform: translate(-50%, -50%);
		transition:
			width 0.5s ease,
			height 0.5s ease,
			opacity 0.5s ease;
		opacity: 0;
	}
	&:hover::before {
		width: 200%;
		height: 200%;
		opacity: 1;
	}
}

.button-3 {
	background: #036fda;
	position: relative;
	overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: rgba(235, 226, 226, 0.2);
		transition: left 0.3s ease;
	}
	&:hover::before {
		left: 100%;
	}
}
