@use "sass:math";

@import "_fonts.scss";

@import "_reset.scss";

body {
	background-color: rgb(2, 0, 3);
	color: #fff;
}

.page {
	padding-top: 320px;
	display: flex;
	justify-content: center;
	&__item {
		width: 300px;
		position: relative;
	}
	&__rotation {
		width: 100%;
		position: absolute;
		top: 0;
		right: 0;
	}
	
	&__rotate-text {
		width: 100%;
		height: 100%;
		animation: rotate-text 15s linear infinite;
	}
	&__counter {
		font-size: 20px;
		width: 50%;
		height: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	
	}
	textPath {
		fill: yellow;
		transition: 0.3s;
		offset-path: path("M10 80 C 40 10, 65 10, 95 80 S 150 150, 180 80");
		animation: moveText 5s linear infinite;
	}
	@keyframes rotate-text {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
}

