@use "sass:math";

@import "_fonts.scss";

@import "_reset.scss";

body {
	background-color: rgb(2, 0, 3);
	color: #fff;
}

.page {
	padding-top: 320px;
	display: flex;
	justify-content: center;
}
.btn-3d {
	background-color: #8661ff;
	color: #fff;
	font-size: 20px;
	padding: 25px 55px;
	border-radius: 8px;
	font-weight: bold;
	box-shadow: 0 10px #714dcc;
	transition:
		transform 0.2s ease,
		box-shadow 0.2s ease,
		background-color 0.3s;
	&:hover {
			background-color: #816cf7;

	}
	&:active {
		transform: translateY(3px);
	box-shadow: 0 5px #714dcc;
	}
}
