@use "sass:math";

@import "_fonts.scss";

@import "_reset.scss";

body {
	background-color: rgb(2, 0, 3);
	color: #fff;
}

.page {
	padding-top: 320px;
	display: flex;
	justify-content: center;
}
.button {
	text-transform: capitalize;
	padding: 25px 60px;
	background: #000;
	color: #fff;
	font-size: 20px;
	border-radius: 5px;
	box-shadow:
		0 0 5px #fffb01,
		0 0 15px #fffb01,
		0 0 20px #fffb01;
	transition: box-shadow 0.3s ease;
	&:hover {
		box-shadow:
			0 0 10px #fffb01,
			0 0 30px #fffb01,
			0 0 50px #fffb01;
	}
}
